.error-message {
    width: 872px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(230, 0, 0, 1);
}

.error-message h1 {
    font-weight: 700;
    font-size: 288px;
    line-height: 142.6%;
    margin: 0;
}

.error-message p {
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    margin: 0;
}

.link {
    margin: auto;
    width: 872px;
}

.link p {
    margin-top: 182px;
    margin-bottom: 159px;
    font-size: 18px;
    text-align: center;
}