header {
    height: 3.792em;
    background-color: rgba(2, 2, 3, 1);
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header img {
    width: 7.417em;
    height: 2.539em;
    margin-left: 1.208em;
}

header nav {
    width: 41.417em;
    margin-right: 3.625em;
}

header nav ul {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-between;
}

header nav .logout {
    object-fit: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    header {
        font-size: 20px;
    }

    header nav {
        width: 30em;
        margin-right: 30px;
    }
}