.loader-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader-container .text {
    font-size: 20px;
    letter-spacing: 2px;
}

.loader-container .loading {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-container .loading .line-box {
    padding: 2px;
    width: 40%;
    height: 20px;
    border: 2px solid rgba(40, 45, 48, 1);
    border-radius: 20px;
}

.loader-container .loading .line-box .line {
    height: 20px;
    border-radius: 20px;
    background-color: rgba(230, 0, 0, 1);
    animation: loading 2s forwards cubic-bezier(0, 0, 0, 0);
}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}