main {
    display: flex;
}

article {
    cursor: pointer;
}

.chart-container {
    margin: 0 31px 0 107px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1000px;
}

.performance-container {
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {

    .chart-container {
        width: 70%;
        margin: 0 10px 0 20px;
        height: 690px;
    }

    .performance-container {
        margin-top: 20px;
        width: 700px;
    }
}