.connection-main {
    flex-direction: column;
}

.connection-main h1 {
    text-align: center;
    margin-top: 30px;
}

#connection-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

[class*='profil'] {
    width: 500px;
    display: flex;
    border-radius: 5px;
}

.profil-Cecilia {
    background-color: rgba(255, 0, 0, 0.1);
}

.profil-Karl {
    background-color: rgba(74, 184, 255, 0.1);
}

#connection-section img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#connection-section .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#connection-section .user-info h2,
p {
    margin: 5px;
}

#connection-section .user-info h2 span {
    margin-left: 5px;
    color: rgba(255, 1, 1, 1);
}

#connection-section .user-info p {
    font-weight: 500;
    color: rgba(116, 121, 140, 1);
}